Repository shahzod-davlatov/github-dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier . --write, eslint --ext .ts,.vue src --fix, stylelint '**/*.{css,vue}' --fix

Try Effector
  src/app/main.ts
  src/features/effector/index.ts
  src/features/effector/model/index.ts
  src/features/effector/ui/Effector.vue
  src/pages/home/Home.vue
  tsconfig.json
  vite.config.ts
Due: prettier . --write, eslint --ext .ts,.vue src --fix, stylelint '**/*.{css,vue}' --fix

Add GitHub authenticate
  .eslintrc.json
  .gitignore
  package.json
  schema.graphql
  src/app/App.vue
  src/app/router.ts
  src/entities/github-button/index.ts
  src/entities/github-button/ui/GithubButton.vue
  src/entities/theme-button/index.ts
  src/entities/theme-button/ui/ThemeButton.vue
  src/features/effector/ui/Effector.vue
  src/features/header-navigation/index.ts
  src/features/header-navigation/ui/HeaderNavigation.vue
  src/pages/auth/AuthPage.vue
  src/pages/auth/index.ts
  src/pages/auth/ui/PageAuth.vue
  src/pages/home/index.ts
  src/pages/home/ui/PageHome.vue
  src/pages/layout/index.ts
  src/pages/layout/ui/PageLayout.vue
  src/pages/repositories/index.ts
  src/pages/repositories/ui/PageRepositories.vue
  src/pages/stars/index.ts
  src/pages/stars/ui/PageStars.vue
  src/shared/constants/api.ts
  src/shared/constants/links.ts
  src/shared/constants/routes.ts
  src/shared/constants/tokens.ts
  src/shared/ui/navigation-button/index.ts
  src/shared/ui/navigation-button/ui/NavigationButton.vue
  src/vite-env.d.ts
  tsconfig.json
  vite.config.ts
  yarn.lock
Due: prettier . --write, eslint --ext .ts,.vue src --fix, stylelint '**/*.{css,vue}' --fix

Update
  .eslintrc.json
  codegen.ts
  package.json
  src/features/effector/api/query.ts
  src/features/effector/model/index.ts
  src/features/effector/ui/Effector.vue
  src/pages/auth/ui/PageAuth.vue
  src/pages/home/ui/PageHome.vue
  src/shared/api/index.ts
  src/shared/constants/api.ts
  src/shared/graphql/gql.ts
  src/shared/graphql/graphql.ts
  tsconfig.json
  vite.config.ts
  yarn.lock
Due: prettier . --write, eslint --ext .ts,.vue src --fix, stylelint '**/*.{css,vue}' --fix

Vercel.json
  vercel.json
Due: prettier . --write

Update packages
  package.json
  yarn.lock
Due: prettier . --write

Add oxlint
  .eslintignore
  .eslintrc.json
  .lintstagedrc.json
  lint-staged.config.js
  package.json
  yarn.lock
Due: prettier . --write

Fix shadcn button errors
  .eslintignore
  src/shared/shadcn/index.ts
  src/shared/shadcn/ui/button/Button.tsx
  src/shared/shadcn/ui/button/Button.vue
  src/shared/shadcn/ui/button/index.ts
  src/shared/shadcn/ui/toast/index.ts
Due: prettier . --write, eslint --ext .ts,.vue src --fix, stylelint '**/*.{css,vue}' --fix

Add props options
  src/shared/shadcn/ui/button/Button.tsx
Due: prettier . --write

type fix
  lint-staged.config.js
  src/shared/shadcn/ui/button/Button.tsx
Due: prettier . --write

Remove .vue extension support
  .eslintignore
  .eslintrc.json
  package.json
  src/entities/github-button/ui/GithubButton.tsx
  src/entities/theme-button/ui/ThemeButton.tsx
  src/features/effector/ui/Effector.tsx
  src/pages/auth/ui/Auth.tsx
  src/pages/home/ui/Home.tsx
  src/shared/shadcn/index.ts
  src/shared/shadcn/lib.ts
  src/shared/shadcn/ui/button/Button.tsx
  src/shared/shadcn/ui/button/index.ts
  src/shared/shadcn/ui/card/Card.tsx
  src/shared/shadcn/ui/card/Card.vue
  src/shared/shadcn/ui/card/CardContent.tsx
  src/shared/shadcn/ui/card/CardContent.vue
  src/shared/shadcn/ui/card/CardDescription.tsx
  src/shared/shadcn/ui/card/CardDescription.vue
  src/shared/shadcn/ui/card/CardFooter.tsx
  src/shared/shadcn/ui/card/CardFooter.vue
  src/shared/shadcn/ui/card/CardHeader.tsx
  src/shared/shadcn/ui/card/CardHeader.vue
  src/shared/shadcn/ui/card/CardTitle.tsx
  src/shared/shadcn/ui/card/CardTitle.vue
  src/shared/shadcn/ui/card/index.ts
  src/shared/shadcn/ui/toast/Toast.vue
  src/shared/shadcn/ui/toast/ToastAction.vue
  src/shared/shadcn/ui/toast/ToastClose.vue
  src/shared/shadcn/ui/toast/ToastDescription.vue
  src/shared/shadcn/ui/toast/ToastProvider.vue
  src/shared/shadcn/ui/toast/ToastTitle.vue
  src/shared/shadcn/ui/toast/ToastViewport.vue
  src/shared/shadcn/ui/toast/Toaster.vue
  src/shared/shadcn/ui/toast/index.ts
  src/shared/shadcn/ui/toast/use-toast.ts
  src/shared/ui/navigation-button/ui/NavigationButton.tsx
  tsconfig.json
  vite.config.ts
  yarn.lock
Due: prettier . --write, eslint --ext .ts,.vue src --fix, stylelint '**/*.{css,vue}' --fix

Add user entity
  .eslintrc.json
  package.json
  src/app/App.tsx
  src/app/main.ts
  src/app/router.ts
  src/entities/user/api/index.ts
  src/entities/user/index.ts
  src/entities/user/model/index.ts
  src/entities/user/ui/UserLogo.tsx
  src/features/effector/index.ts
  src/features/effector/model/index.ts
  src/features/effector/ui/Effector.tsx
  src/features/header-navigation/ui/HeaderNavigation.tsx
  src/pages/auth/ui/Auth.tsx
  src/pages/home/ui/Home.tsx
  src/pages/layout/ui/Layout.tsx
  src/shared/api/index.ts
  src/shared/graphql/gql.ts
  src/shared/graphql/graphql.ts
  src/shared/shadcn/ui/avatar/Avatar.tsx
  src/shared/shadcn/ui/avatar/AvatarFallback.tsx
  src/shared/shadcn/ui/avatar/AvatarImage.tsx
  src/shared/shadcn/ui/avatar/index.ts
  src/shared/shadcn/ui/button/Button.tsx
  src/shared/shadcn/ui/card/Card.tsx
  src/shared/shadcn/ui/card/CardContent.tsx
  src/shared/shadcn/ui/card/CardDescription.tsx
  src/shared/shadcn/ui/card/CardFooter.tsx
  src/shared/shadcn/ui/card/CardHeader.tsx
  src/shared/shadcn/ui/card/CardTitle.tsx
  src/shared/shadcn/ui/dropdown-menu/DropdownMenu.tsx
  src/shared/shadcn/ui/dropdown-menu/DropdownMenuTrigger.tsx
  src/shared/shadcn/ui/dropdown-menu/index.ts
  src/shared/shadcn/ui/sonner/Sonner.tsx
  src/shared/shadcn/ui/sonner/index.ts
  src/shared/ui/github-button/index.ts
  src/shared/ui/github-button/ui/GithubButton.tsx
  src/shared/ui/theme-button/index.ts
  src/shared/ui/theme-button/ui/ThemeButton.tsx
  yarn.lock
Due: prettier . --write, eslint --ext .ts,.vue src --fix

Add auth error handler
  .eslintrc.json
  src/app/primeVuePreset/index.ts
  src/app/primeVuePreset/skeleton/index.ts
  src/app/router.ts
  src/pages/auth/ui/Auth.tsx
  src/pages/home/ui/Home.tsx
  src/pages/layout/ui/Layout.tsx
  src/shared/api/index.ts
  src/shared/lib/router.ts
  src/shared/lib/sonner.ts
  tsconfig.json
  vite.config.ts
Due: prettier . --write, eslint --ext .ts,.vue src --fix

Cleanup
  src/app/App.tsx
  src/app/router.ts
  src/entities/user/index.ts
  src/entities/user/model/index.ts
  src/entities/viewer/api/index.ts
  src/entities/viewer/index.ts
  src/entities/viewer/model/index.ts
  src/entities/viewer/ui/ViewerLogo.tsx
  src/features/header-navigation/ui/HeaderNavigation.tsx
  src/pages/auth/ui/Auth.tsx
  src/pages/home/ui/Home.tsx
  src/pages/layout/ui/Layout.tsx
  src/shared/api/index.ts
  src/shared/constants/routes.ts
  src/shared/constants/storageKeys.ts
  src/shared/constants/tokens.ts
  src/shared/graphql/gql.ts
  src/shared/graphql/graphql.ts
  src/shared/localStorages/tokens.ts
  src/shared/localStorages/user.ts
  tsconfig.json
  vite.config.ts
Due: prettier . --write, eslint --ext .ts,.vue src --fix

Add user select
  src/app/primeVuePreset/avatar/index.ts
  src/app/primeVuePreset/dropdown/index.ts
  src/app/primeVuePreset/index.ts
  src/app/router.ts
  src/entities/user/api/index.ts
  src/entities/user/index.ts
  src/entities/user/model/index.ts
  src/entities/viewer/model/index.ts
  src/entities/viewer/ui/ViewerLogo.tsx
  src/features/header-navigation/ui/HeaderNavigation.tsx
  src/features/user-select/api/index.ts
  src/features/user-select/index.ts
  src/features/user-select/lib/index.ts
  src/features/user-select/model/index.ts
  src/features/user-select/ui/UserSelect.tsx
  src/pages/home/ui/Home.tsx
  src/pages/layout/ui/Layout.tsx
  src/shared/api/index.ts
  src/shared/constants/queryKeys.ts
  src/shared/constants/storageKeys.ts
  src/shared/graphql/gql.ts
  src/shared/graphql/graphql.ts
  src/shared/lib/router.ts
  src/shared/localStorages/user.ts
Due: prettier . --write, eslint --ext .ts,.vue src --fix

Cleanup
  .eslintrc.json
  src/entities/user/model/index.ts
  src/entities/viewer/model/index.ts
  src/features/user-select/model/index.ts
  src/features/user-select/ui/UserSelect.tsx
Due: prettier . --write, eslint --ext .ts,.vue src --fix

Cleanup
  src/entities/user/index.ts
  src/features/user-select/lib/index.ts
  src/features/user-select/model/index.ts
  src/features/user-select/ui/UserSelect.tsx
Due: prettier . --write, eslint --ext .ts,.vue src --fix

Update packages and replace eslint/import by eslint/perfectionist
  .eslintrc.json
  package.json
  src/app/main.ts
  src/app/router.ts
  src/entities/user-overview/index.ts
  src/entities/user/index.ts
  src/entities/user/model/index.ts
  src/entities/viewer/index.ts
  src/entities/viewer/model/index.ts
  src/entities/viewer/ui/ViewerLogo.tsx
  src/features/contributions-chart/ui/ContributionsChart.tsx
  src/features/user-dashboard-info/lib/index.ts
  src/features/user-dashboard-info/ui/UserDashboardInfo.tsx
  src/features/user-dashboard-messages/lib/index.ts
  src/features/user-dashboard-messages/ui/UserDashboardMessages.tsx
  src/features/user-select/lib/index.ts
  src/features/user-select/model/index.ts
  src/features/user-select/ui/UserSelect.tsx
  src/pages/auth/ui/Auth.tsx
  src/pages/home/ui/Home.tsx
  src/shared/api/index.ts
  src/shared/lib/sonner.ts
  src/shared/localStorages/user.ts
  src/shared/ui/dashboard-info/ui/DashboardInfo.tsx
  src/shared/ui/github-button/ui/GithubButton.tsx
  src/shared/ui/navigation-button/ui/NavigationButton.tsx
  src/shared/ui/theme-button/ui/ThemeButton.tsx
  src/vite-env.d.ts
  src/widgets/dashboard-overview/ui/DashboardOverview.tsx
  src/widgets/layout/ui/Layout.tsx
  yarn.lock
Due: prettier . --write, eslint --ext .ts,.vue src --fix

Add saved users
  .eslintrc.json
  src/entities/user/index.ts
  src/features/user-dashboard-info/lib/index.ts
  src/features/user-select/lib/group.ts
  src/features/user-select/lib/index.ts
  src/features/user-select/lib/useCurrentAccountGroup.ts
  src/features/user-select/lib/useGroupedUsers.ts
  src/features/user-select/lib/usePersonalAccountGroup.ts
  src/features/user-select/lib/useSavedUsersGroup.ts
  src/features/user-select/lib/useSearchedUsersGroup.ts
  src/features/user-select/model/savedUsers.ts
  src/features/user-select/model/searchedUsers.ts
  src/features/user-select/ui/UserSelect.tsx
  src/shared/constants/storageKeys.ts
  src/shared/localStorages/user.ts
Due: prettier . --write, eslint --ext .ts,.vue src --fix

Add settings page
  src/app/primeVuePreset/index.ts
  src/app/primeVuePreset/panel/index.ts
  src/app/router.ts
  src/entities/saved-user/api/index.ts
  src/entities/saved-user/index.ts
  src/entities/saved-user/model/index.ts
  src/entities/user/index.ts
  src/features/dashboard-setting-card/index.ts
  src/features/dashboard-setting-card/ui/DashboardSettingCard.tsx
  src/features/saved-user-card/index.ts
  src/features/saved-user-card/model/index.ts
  src/features/saved-user-card/ui/SavedUserCard.tsx
  src/features/user-dashboard-messages/lib/index.ts
  src/features/user-dashboard-messages/ui/UserDashboardMessages.tsx
  src/features/user-select/lib/useCurrentAccountGroup.ts
  src/features/user-select/lib/usePersonalAccountGroup.ts
  src/features/user-select/lib/useSavedUsersGroup.ts
  src/features/user-select/lib/useSearchedUsersGroup.ts
  src/features/user-select/model/index.ts
  src/features/user-select/model/savedUsers.ts
  src/features/user-select/ui/UserSelect.tsx
  src/pages/settings/index.ts
  src/pages/settings/ui/Settings.tsx
  src/shared/constants/dashboardKeys.ts
  src/shared/constants/routes.ts
  src/shared/constants/storageKeys.ts
  src/shared/graphql/gql.ts
  src/shared/graphql/graphql.ts
  src/shared/lib/dashboardInfo.ts
  src/shared/localStorages/dashboard.ts
  src/widgets/dashboard-settings/index.ts
  src/widgets/dashboard-settings/ui/DashboardSettings.tsx
  src/widgets/layout/ui/Layout.tsx
  src/widgets/saved-users/index.ts
  src/widgets/saved-users/ui/SavedUsers.tsx
Due: prettier . --write, eslint --ext .ts,.vue src --fix

Add repositories list
  index.html
  src/app/primeVuePreset/chip/index.ts
  src/app/primeVuePreset/index.ts
  src/app/primeVuePreset/progressspinner/index.ts
  src/app/primeVuePreset/sidebar/index.ts
  src/app/primeVuePreset/tag/index.ts
  src/entities/selected-info/index.ts
  src/entities/selected-info/model/index.ts
  src/entities/user-repositories/api/index.ts
  src/entities/user-repositories/index.ts
  src/entities/user-repositories/model/index.ts
  src/features/contributions-chart/ui/ContributionsChart.tsx
  src/features/user-dashboard-info/ui/UserDashboardInfo.tsx
  src/features/user-dashboard-messages/ui/UserDashboardMessages.tsx
  src/features/user-repositories/index.ts
  src/features/user-repositories/ui/UserRepositories.tsx
  src/features/user-select/ui/UserSelect.tsx
  src/pages/home/ui/Home.tsx
  src/pages/settings/ui/Settings.tsx
  src/shared/constants/queryKeys.ts
  src/shared/graphql/gql.ts
  src/shared/graphql/graphql.ts
  src/widgets/dashboard-overview/ui/DashboardOverview.tsx
  src/widgets/dashboard-settings/ui/DashboardSettings.tsx
  src/widgets/sidebar-info/index.ts
  src/widgets/sidebar-info/lib/index.tsx
  src/widgets/sidebar-info/ui/SidebarInfo.tsx
Due: prettier . --write, eslint --ext .ts,.vue src --fix

Add starred repositories
  src/entities/user-repositories/index.ts
  src/entities/user-repositories/model/index.ts
  src/entities/user-stars/api/index.ts
  src/entities/user-stars/index.ts
  src/entities/user-stars/model/index.ts
  src/features/user-dashboard-messages/ui/UserDashboardMessages.tsx
  src/features/user-select/ui/UserSelect.tsx
  src/features/user-stars/index.ts
  src/features/user-stars/ui/UserStars.tsx
  src/shared/constants/queryKeys.ts
  src/shared/graphql/gql.ts
  src/shared/graphql/graphql.ts
  src/shared/ui/repository-card/index.ts
  src/shared/ui/repository-card/ui/RepositoryCard.tsx
  src/widgets/dashboard-overview/ui/DashboardOverview.tsx
  src/widgets/sidebar-info/lib/index.tsx
Due: prettier . --write, eslint --ext .ts,.vue src --fix

Update README.md
  README.md
Due: prettier . --write

Update github link
  src/shared/constants/links.ts
Due: prettier . --write, eslint --ext .ts,.vue src --fix

Cleanup
  src/features/user-select/model/index.ts
Due: prettier . --write, eslint --ext .ts,.vue src --fix

Path conditions:
  prettier . --write: any of: *
  eslint --ext .ts,.vue src --fix: any of: *{ts,vue}
  stylelint '**/*.{css,vue}' --fix: any of: *{css,vue}
